/* Importando as fontes no CSS */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Poppins:wght@300;400&display=swap');

/* Estilizando com as novas fontes */
body {
  font-family: 'Poppins', sans-serif; /* Fonte principal */
}

.home-container {
  text-align: center;
  padding: 20px;
}

.carousel-container {
  position: relative;
  display: inline-block;
  max-width: 100%; /* Limita a largura do carrossel */
  margin: 0 auto;
}

.carousel-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}


.welcome-text {
  max-width: 800px;
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  font-size: 18px;
  color: #555;
}

.welcome-text p {
  margin-bottom: 20px; 
}

.welcome-text .studio-name {
  font-weight: bold;
  font-size: 24px;
  color: #e91e63; 
  margin-top: 20px;
}

.home-container1 h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 30px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase; 
}

@media (max-width: 768px) {
  .welcome-text {
    font-size: 16px; 
  }

  .home-container1 h1 {
    font-size: 28px;
  }
}

.about-salon {
  margin: 40px auto;
  max-width: 800px;
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.about-salon h1 {
  font-size: 28px;
  color: #e91e63; /* Cor rosa */
  margin-bottom: 20px;
}

.about-salon p {
  font-size: 16px;
  color: #333;
  line-height: 1.6;
  margin-bottom: 15px;
}

.about-salon .signature {
  margin-top: 20px;
  font-size: 18px;
  color: #555;
  font-style: italic;
}