.services-container {
  padding: 20px;
  text-align: center;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Duas colunas para telas menores */
  gap: 20px;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .services-grid {
    grid-template-columns: repeat(4, 1fr); /* Quatro colunas para telas grandes */
  }
}

.service-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.service-card:hover {
  transform: scale(1.05);
}

.service-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.service-card h3 {
  margin: 15px 0;
  font-size: 1.2rem;
}

.service-card p {
  font-size: 1rem;
  color: #666;
  padding: 0 15px 15px;
}