
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  min-height: 60px; /* Altura mínima para o footer */
  margin-top: 20px; /* Espaço entre o conteúdo e o footer */
  width: 100%;
}