.footer {
  background-color: #FF69B4; /* Cor de fundo rosa */
  color: white;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: auto; /* Garante que o footer fique no final */
}