.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#FF007F; /* Cor de fundo escura */
  padding: 5px 20px;
  font-family: Arial, sans-serif;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 100px; 
  height: auto;
}

.nav-links ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: black; 
}


@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }

  .logo {
    width: 120px; 
  }

  .nav-links ul {
    flex-direction: column;
    width: 100%;
  }

  .nav-links li {
    margin-bottom: 10px;
  }
}